<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Agent Credentials
        <mat-icon>fingerprint</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="collapsible-header">
      <i class="material-icons">face</i>Agent Code : {{kyc?.clntAgentCode}}</div>
    <div class="collapsible-body">
      <br>
      <div class="example-full-width">
        <mat-form-field style="min-width: 500px">
          <mat-label>
            <strong>NAME</strong> eg. Trump Augustine Tan Cheng Bok)</mat-label>
          <input matInput type="text" #name="ngModel" id="name" name="legalName" [(ngModel)]="tokenSvc.clntUserKYC.legalNameID" class="validate"
            placeholder="{{tokenSvc.clntUserKYC.legalNameID}}" required>
        </mat-form-field>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input type="text" #tellID="ngModel" id="tellID" name="tellID" [(ngModel)]="tokenSvc.clntUserKYC.mobileNumID" class="validate"
          placeholder="{{tokenSvc.clntUserKYC.mobileNumID}}" required>
        <!-- <label for="mobileNum">Mobile Contact</label> -->
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input type="text" disabled="true" #emailID="ngModel" id="emailID" name="emailID" [(ngModel)]="tokenSvc.clntUserKYC.emailID"
          class="validate" placeholder="{{tokenSvc.clntUserKYC.emailID}}" required>
      </div>

      <!--       <div class="example-full-width">
        <mat-form-field style="min-width: 500px">
          <mat-label>
            <strong>NRIC/PASSPORT#</strong> per national ID-document/NRIC</mat-label>
          <input matInput type="text" #IDNum="ngModel" id="IDNum" name="legalIDCred" [(ngModel)]="tokenSvc.clntUserKYC.legalIDCred"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.legalIDCred}}" required>
        </mat-form-field>
      </div> -->


      <!--       <div class="col s12 m12">
        <h5 class="header">Upload NRIC/ID-document image..</h5>
        <div class="card s6 m6 horizontal">
          <div class="card-image">
            <img style="height: 150px" id="imgPreviewFront" alt="your image" [src]="localUrlFront" *ngIf="localUrlFront" class="activator imgPlaceholder"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>front .. accepts *.jpg/jpeg *.png *.gif</p>
            </div>
            <div class="card-action">
              <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                <input type="file" #photoIDFrontToSend id="photoIDFrontToSend" name="photoIDFrontToSend" accept=".*" (change)="showPreviewImageFront($event)">
                <input type="submit" value="Send" />
              </form>
            </div>
          </div>
        </div>
        <div class="card s6 m6 horizontal">
          <div class="card-image">
            <img style="height: 150px" id="imgPreviewBack" alt="your image" [src]="localUrlBack" *ngIf="localUrlBack" class="activator imgPlaceholder"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>back .. accepts *.jpg/jpeg *.png *.gif</p>
            </div>
            <div class="card-action">
              <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                <input type="file" #photoIDBackToSend id="photoIDBackToSend" name="photoIDBackToSend" accept=".*" (change)="showPreviewImageBack($event)">
                <input type="submit" value="Send" />
              </form>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <p class="example-full-width">{{this.tokenSvc.clntUserKYC | json}}{{DOB.value}}</p> -->


      <div class="input-field col s12">
        <i class="material-icons prefix">cake</i>
        <input type="date" #DOB="ngModel" id="DOB" name="DOB" [(ngModel)]="tokenSvc.clntUserKYC.DOB" placeholder="{{tokenSvc.clntUserKYC.DOB}}"
          class="datepicker">
      </div>
      <br>
      <mat-form-field>
        <mat-select [(ngModel)]="tokenSvc.clntUserKYC.gender" placeholder="Gender">
          <!-- <mat-option>None</mat-option> -->
          <mat-option *ngFor="let g of gender" [value]="g.value">
            {{g.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-radio-group class="example-radio-group" [(ngModel)]="tokenSvc.clntUserKYC.gender">
        <mat-radio-button name="options" class="example-radio-button" value="M">Male</mat-radio-button>
        <mat-radio-button name="options" class="example-radio-button" value="F">Female</mat-radio-button>
      </mat-radio-group> -->

      <!-- <div class="example-selected-value">Your gender is: {{tokenSvc.clntUserKYC.gender}}</div> -->
      <br>
      <br>
      <button mat-raised-button color="accent" (click)="updateKYC()">Update-Save</button>
      <button mat-raised-button color="warn" (click)="resetPW()">Logout / Reset PW</button>
    </div>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [disabled]="true" [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Listing Contacts
      </mat-panel-title>
      <mat-panel-description>
        Leads Diary (Paid Subscription)
        <mat-icon>account_balance_wallet</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="collapsible-header">
      <i class="material-icons">place</i>Contact & Address</div>
    <div class="collapsible-body">
      <!--     <div class="collapsible-header">
        <i class="material-icons">fingerprint</i>Bank Verification</div>
      <div class="collapsible-body"> -->
      <!--       <br>
        <br>
        <div class="input-field">
          <input type="text" #bankName="ngModel" id="bankName" name="bankName" [(ngModel)]="tokenSvc.clntUserKYC.bank.bankName" class="validate"
            placeholder="{{tokenSvc.clntUserKYC.bank.bankName}}" required>
          <label for="bankName">
            <strong class="blue-grey darken-4 orange-text">BANK NAME</strong>
          </label>
        </div>
        <div class="input-field">
          <input type="text" #bankAcct="ngModel" id="bankAcct" name="bankAcct" [(ngModel)]="tokenSvc.clntUserKYC.bank.bankAcct" class="validate"
            placeholder="{{tokenSvc.clntUserKYC.bank.bankAcct}}" required>
          <label for="bankAcct">
            <strong class="blue-grey darken-4 orange-text">BANK ACCT#</strong>
          </label>
        </div> -->

      <!-- <div class="col s12 m12">
          <h5 class="header">Upload Bank-document image(s)..</h5>
          <div class="card s6 m6 horizontal"> -->
      <!--         <div class="card-image">
              <img style="height: 150px" id="imgPreviewBank" alt="your image" [src]="localUrlBank" *ngIf="localUrlBank" class="activator imgPlaceholder"
              />
            </div> -->
      <!-- <div class="card-image">
              <input id="browse" type="file" (change)="previewFiles($event)" multiple>
              <div id="preview"></div>
              <p id="previewDesc"></p>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Please upload scan image/document copies of your LATEST BANK STATEMENT of no more than 3 MONTHS old. The image(s)
                  must include your name, bank account number, postal address for verification purposes .. accepts *.jpg/jpeg
                  *.png *.gif</p>
              </div>
              <div class="card-action">
                <form>
                  <div class="row">
                    <label>Multi File Input</label>
                    <div class="file-field input-field">
                      <div class="btn">
                        <span>Choose Files</span> -->
      <!--    <input type="file" #photoIDBankToSend id="photoIDBankToSend" name="photoIDBankToSend" accept=".*" (change)="showPreviewImageBank($event)"
                          multiple /> -->
      <!-- </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea #textAnnotNotaryOthers id="textAnnotNotaryOthers" name="textAnnotNotaryOthers" class="materialize-textarea"></textarea>
            <label for="address">Enter notary information here..</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s12">
            <input type="text" #clntNotes id="clntNotes" name="clntNotes" placeholder="Previous client note(s).." disabled />
            <label for="clntNotes">Notes</label>
          </div>
        </div> -->
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title> All My Listing </mat-panel-title>
      <mat-panel-description>
        Buy-n-Rent
        <mat-icon>store_mall_directory</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--     <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field> -->
    <div class="collapsible-header">
      <header>
        <button mat-raised-button color="primary" (click)="addToList()">Add New Owner&Property</button>
        <button mat-raised-button color="accent" (click)="saveAll(listOwners.value)">Save All</button>
        <!-- <button mat-raised-button color="warn" (click)="delList()">Delete Item</button> -->
      </header>
      <hr>
      <header>
        <i class="material-icons">location_city</i>Select By Owner
        <!-- <select #listOwners="ngModel" ngModel id="listOwners" (change)="updateCRUDList(listOwners.value)"> </select> -->
        <select id="listOwners" [value]="defaultOwner" (change)="updateCRUDList(listOwners.value)"> </select>
      </header>
    </div>

    <div class="collapsible-body">
      <!-- <app-featured-news></app-featured-news> -->

      <section id="crudList">
        <!-- {{myclntlist | json}} -->
        <br>
        <header>
          <h3>Owner Contact</h3>
        </header>
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input type="text" #clntnameID="ngModel" id="clntnameID" name="clntnameID" [(ngModel)]="myclntlist[0].ownerName" class="validate"
            placeholder="{{myclntlist[0].ownerName}}" maxlength="20" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input type="text" #clnttellID="ngModel" id="clnttellID" name="clnttellID" [(ngModel)]="myclntlist[0].ownerMobile" class="validate"
            placeholder="{{myclntlist[0].ownerMobile}}" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="text" #clntemailID="ngModel" id="clntemailID" name="clntemailID" [(ngModel)]="myclntlist[0].ownerEmail" class="validate"
            placeholder="{{myclntlist[0].ownerEmail}}" required>
        </div>
        <br>
        <hr>

        <div *ngFor="let prop of myclntlist">
          <div class="input-field col s12">
            <br>
            <header>
              <button mat-raised-button color="accent" [disabled]="chgOnePicOnly" (click)="prop.chgPic='resetPic'">Change Property Pic</button>
              <button mat-raised-button color="warn" (click)="saveAll(listOwners.value, true, prop.id)">Delete Property</button>
            </header>

            <br>
            <div *ngIf="prop.chgPic=='resetPic'" style="display: flex; justify-content: space-between; align-items: center; flex-direction: row; flex-wrap: wrap;">
              <span class="card-image">
                <img style="max-height: 150px" id="imgPreview" [hidden]="localUrl==''" alt="your image" [src]="localUrl" class="activator imgPlaceholder"
                />
              </span>
              <span class="card-stacked">

                <span class="card-content">
                </span>
                <span class="card-action">
                  <form method="POST" action="https://ajimage.localtunnel.me/images" enctype="multipart/form-data">
                    <input type="file" #proptyPic id="{{prop.id}}new" name="proptyPic" accept=".*" (change)="showPreviewImage($event)" />
                    <label for="{{prop.id}}new">.. accepts *.jpg/jpeg *.png *.gif</label>
                    <!-- <input type="submit" value="Upload/replace property pic" /> // does not work...hmm... -->
                    <input type="submit" [disabled]="localUrl==''" value="Upload/replace property pic" (click)="sendNewPic(prop.ownerName, prop.id)"
                    />
                  </form>
                </span>
              </span>
            </div>
            <br>

            <img matListAvatar style="display: flex; height: auto; max-width: 120px; justify-content: flex-start; flex-direction: row"
              src="{{libSvc.SERVER}}/images/{{prop.listPhotoIcon}}" alt="">
            <br>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">layers</i>
            <input type="text" #clntPropBUA="ngModel" id="clntPropBUA" name="clntPropBUA" [(ngModel)]="prop.BUA" class="validate" placeholder="{{prop.BUA}}"
              required>
            <label for="clntPropBUA">sqft@built-upArea</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">layers_clear</i>
            <input type="text" #clntPropLandSize="ngModel" id="clntPropLandSize" name="clntPropLandSize" [(ngModel)]="prop.landSize"
              class="validate" placeholder="{{prop.landSize}}" required>
            <label for="clntPropLandSize">sqft@landSize</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">terrain</i>
            <!--             <input type="number" min="1" max="28" #clntPropDistrict="ngModel" id="clntPropDistrict" name="clntPropDistrict" [(ngModel)]="prop.district"
              class="validate" placeholder="{{prop.district}}" required> -->

            <mat-form-field class="ajflexrow-item">
              <mat-select style="text-align: left" [(value)]="prop.district">
                <mat-option disabled value="none">District</mat-option>
                <mat-option value="1">District 1</mat-option>
                <mat-option value="2">District 2</mat-option>
                <mat-option value="3">District 3</mat-option>
                <mat-option value="4">District 4</mat-option>
                <mat-option value="5">District 5</mat-option>
                <mat-option value="6">District 6</mat-option>
                <mat-option value="7">District 7</mat-option>
                <mat-option value="8">District 8</mat-option>
                <mat-option value="9">District 9</mat-option>
                <mat-option value="10">District 10</mat-option>
                <mat-option value="11">District 11</mat-option>
                <mat-option value="12">District 12</mat-option>
                <mat-option value="13">District 13</mat-option>
                <mat-option value="14">District 14</mat-option>
                <mat-option value="15">District 15</mat-option>
                <mat-option value="16">District 16</mat-option>
                <mat-option value="17">District 17</mat-option>
                <mat-option value="18">District 18</mat-option>
                <mat-option value="19">District 19</mat-option>
                <mat-option value="20">District 20</mat-option>
                <mat-option value="21">District 21</mat-option>
                <mat-option value="22">District 22</mat-option>
                <mat-option value="23">District 23</mat-option>
                <mat-option value="24">District 24</mat-option>
                <mat-option value="25">District 25</mat-option>
                <mat-option value="26">District 26</mat-option>
                <mat-option value="27">District 27</mat-option>
                <mat-option value="28">District 28</mat-option>
              </mat-select>
            </mat-form-field>
            <label for="clntPropDistrict">@district#</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">local_hotel</i>
            <!-- <input type="text" #clntPropNumBedRms="ngModel" id="clntPropNumBedRms" name="clntPropNumBedRms" [(ngModel)]="prop.numBedRms"
              class="validate" placeholder="{{prop.numBedRms}}" required> -->
            <mat-form-field class="ajflexrow-item">
              <mat-select style="text-align: left" [(value)]="prop.numBedRms">
                <mat-option disabled value="none">BedRooms</mat-option>
                <mat-option value=1>1 BedRm / Studio</mat-option>
                <mat-option value=2>2 BedRms</mat-option>
                <mat-option value=3>3 BedRms</mat-option>
                <mat-option value=4>4 BedRms</mat-option>
                <mat-option value=5>5 BedRms</mat-option>
                <mat-option value=6>6 BedRms</mat-option>
                <mat-option value=7>7 BedRms</mat-option>
                <mat-option value=8>8 BedRms</mat-option>
                <mat-option value=9>9 BedRms</mat-option>
                <mat-option value=10>10 BedRms</mat-option>
                <mat-option value=11>Penthouse</mat-option>
              </mat-select>
            </mat-form-field>
            <label for="clntPropNumBedRms">room(s)</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">store_mall_directory</i>
            <!-- <input type="text" #clntPropOfferType="ngModel" id="clntPropOfferType" name="clntPropOfferType" [(ngModel)]="prop.offerType"
              class="validate" placeholder="{{prop.offerType}}" required> -->
              <mat-form-field class="ajflexrow-item">
                <mat-select style="text-align: left" [(value)]="prop.offerType">
                  <mat-option disabled value="none">Property Type</mat-option>
                  <mat-option value="buy">Buy</mat-option>
                  <mat-option value="rent">Rent</mat-option>
                </mat-select>
              </mat-form-field>
            <label for="clntPropOfferType">offerType</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">category</i>
            <!-- <input type="text" #clntProptyType="ngModel" id="clntProptyType" name="clntProptyType" [(ngModel)]="prop.proptyType" class="validate"
              placeholder="{{prop.proptyType}}" required> -->
              <mat-form-field class="ajflexrow-item">
                <mat-select style="text-align: left" [(value)]="prop.proptyType">
                  <mat-option disabled value="none">Property Type</mat-option>
                  <mat-option value="hdb">HDB</mat-option>
                  <mat-option value="condo">Condo</mat-option>
                  <mat-option value="landed">Landed</mat-option>
                  <mat-option value="gcb">GC Bungalow</mat-option>
                </mat-select>
              </mat-form-field>
            <label for="clntProptyType">propertyType</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">attach_money</i>
            <input type="text" #clntPropPrice="ngModel" id="clntPropPrice" name="clntPropPrice" [(ngModel)]="prop.price" class="validate"
              placeholder="{{prop.price}}" required>
            <label *ngIf="prop.offerType=='rent'" for="clntPropPrice">/mth</label>
            <label *ngIf="prop.offerType=='buy'" for="clntPropPrice"></label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">streetview</i>
            <input type="text" #clntPropStName="ngModel" id="clntPropStName" name="clntPropStName" [(ngModel)]="prop.stName" class="validate"
              placeholder="{{prop.stName}}" required>
            <label for="clntPropStName">streetName</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">place</i>
            <input type="text" #clntPropyFullAddr="ngModel" id="clntPropyFullAddr" name="clntPropyFullAddr" [(ngModel)]="prop.propyFullAddr"
              class="validate" placeholder="{{prop.propyFullAddr}}" required>
            <label for="clntPropyFullAddr">fullAddress</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">local_shipping</i>
            <input type="text" #clntPropyPostCode="ngModel" id="clntPropyPostCode" name="clntPropyPostCode" [(ngModel)]="prop.postCode"
              class="validate" placeholder="{{prop.postCode}}" required>
            <label for="clntPropyPostCode">postalCode</label>
          </div>
          <br>
          <hr>
        </div>
      </section>
      <!-- <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input type="text" #tellID="ngModel" id="tellID" name="tellID" [(ngModel)]="tokenSvc.clntUserKYC.encM" class="validate"
            placeholder="{{tokenSvc.clntUserKYC.encM}}" required>
          <label for="mobileNum">Mobile Contact</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" #nationlity="ngModel" id="nationality" name="nationality" [(ngModel)]="tokenSvc.clntUserKYC.nationality"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.nationality}}" required>
          <label for="nationality">Nationality</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postCode="ngModel" id="postCode" name="postCode" [(ngModel)]="tokenSvc.clntUserKYC.address.postCode"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.address.postCode}}" required>
          <label for="postCode">Postal Code</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postStreet="ngModel" id="postStreet" name="postStreet" [(ngModel)]="tokenSvc.clntUserKYC.address.postStreet"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.address.postStreet}}" required>
          <label for="postStreet">Postal Street</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postBlock="ngModel" id="postBlock" name="postBlock" [(ngModel)]="tokenSvc.clntUserKYC.address.postBlock"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.address.postBlock}}" required>
          <label for="postBlock">Postal Block</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postUnit="ngModel" id="postUnit" name="postUnit" [(ngModel)]="tokenSvc.clntUserKYC.address.postUnit"
            class="validate" placeholder="{{tokenSvc.clntUserKYC.address.postUnit}}" required>
          <label for="postUnit">Postal Unit</label>
        </div>
      </div> -->

    </div>



    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>


</mat-accordion>