<!-- <p> {{libSvc.listJSON | json}}</p> -->
<!-- <p> {{libSvc.searchList | json}}</p> -->




<div id="listing">
</div>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <strong>{{this.libSvc.showcaseTitle}}</strong>
    </mat-card-title>
    <mat-card-subtitle>in ascending built-up area (BUA) order</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-list>
      <mat-list-item *ngFor="let l of libSvc.searchList">
        <img matListAvatar src="{{libSvc.SERVER}}/images/{{l.listPhotoIcon}}" alt="">
        <!-- <mat-icon matListIcon>folder</mat-icon> -->
        <!-- <a matLine [routerLink]="[ '/details', l.id ]"> -->
        <a matLine [routerLink]="[ '/list', l.id, l.clntAgentCode]">
          <h4 style="display: inline" matLine>
            <strong *ngIf="l.offerType=='buy'"> BUA:{{l.BUA}}sqft&nbsp;&nbsp;&nbsp; ${{l.price}} </strong>
            <strong *ngIf="l.offerType=='rent'"> BUA:{{l.BUA}}sqft&nbsp;&nbsp;&nbsp; ${{l.price}}/mth </strong>
          </h4>
        </a>
        <button mat-icon-button (click)="showDetails(l.id, l.clntAgentCode)">
          <mat-icon>info</mat-icon>
        </button>
        <p matLine>
          <span> {{l.stName}} </span>
          <span class="demo-2">
            D{{l.district}} {{l.numBedRms}}rm
          </span>
          {{l.proptyType}}


        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions *ngIf="kycYes">
    <a mat-raised-button color="accent" routerLink="/agent-kyc">Back</a>
  </mat-card-actions>
</mat-card>